
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
:root{
    --clr-main: rgb(234, 150, 17);
    --clr-pink: pink;
    --clr-black: black;
    --clr-white: white;
}
a {
    text-decoration: none;
}
  
li {
    list-style: none;
}


.password-generator {
    height: 10rem;
    width: 25rem;
    background-color: var(--clr-pink);
    color: var(--clr-black);
    font-size: 20px;
    border-radius: 9px;
  }
  
  .password-generator div {
    display: flex;
    justify-content: space-between;
  }
  
  .password {
    height: 3rem;
    width: 23rem;
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .password i {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 2px 20px;
  }
  h2{
    margin-left: 4rem;
  }

.second-headder{
    height: 17rem;
    width: 25rem;
    color: var(--clr-black);
    background-color: var(--clr-pink);
    border-radius: 9px;
    margin-top: 0.5rem;
}

.char{
    font-size: 1.2rem;
    margin-top: 20rem;
    margin-left:2rem;
}

.Number{
    height: 1.5rem;
    width: 4rem;
    font-size: medium;
    margin-left: 6rem;
    margin-top: 1rem;
}


.check-box{
    height: 1.2rem;
    width: 1.2rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.7rem;
    margin-left: 2rem;
}

.check-box:hover{
    cursor: pointer;
}

label{
    font-size: 18px;
}

.submite-btn{
    height: 3rem;
    width: 25rem;
    font-size: 20px;
    color: black;
    background-color: pink;
    border-radius: 10px;
    margin-top: 1rem;
}

.submite-btn:hover{
    background-color: #fff;
    cursor: pointer;
}

